@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #252525;
  --card: #ffffff;
  --card-foreground: #252525;
  --popover: #ffffff;
  --popover-foreground: #252525;
  --primary: #2b2b2b;
  --primary-foreground: #fbfbfb;
  --secondary: #f8f8f8;
  --secondary-foreground: #2b2b2b;
  --muted: #f8f8f8;
  --muted-foreground: #8f8f8f;
  --accent: #f8f8f8;
  --accent-foreground: #2b2b2b;
  --destructive: #b94532;
  --border: #ebebeb;
  --input: #ebebeb;
  --ring: #b4b4b4;
  --chart-1: #ab5d52;
  --chart-2: #4a7da1;
  --chart-3: #355b82;
  --chart-4: #c4d47a;
  --chart-5: #b2ca5a;
  --sidebar: #fcfcfc;
  --sidebar-foreground: #252525;
  --sidebar-primary: #2b2b2b;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #f8f8f8;
  --sidebar-accent-foreground: #2b2b2b;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #b4b4b4;
}

.dark {
  --background: #252525;
  --foreground: #fbfbfb;
  --card: #2b2b2b;
  --card-foreground: #fbfbfb;
  --popover: #2b2b2b;
  --popover-foreground: #fbfbfb;
  --primary: #ebebeb;
  --primary-foreground: #2b2b2b;
  --secondary: #444444;
  --secondary-foreground: #fbfbfb;
  --muted: #444444;
  --muted-foreground: #b4b4b4;
  --accent: #444444;
  --accent-foreground: #fbfbfb;
  --destructive: #b24c44;
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: #8f8f8f;
  --chart-1: #3e4a82;
  --chart-2: #56729b;
  --chart-3: #b2ca5a;
  --chart-4: #627c9a;
  --chart-5: #6a7f52;
  --sidebar: #2b2b2b;
  --sidebar-foreground: #fbfbfb;
  --sidebar-primary: #3e4a82;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #444444;
  --sidebar-accent-foreground: #fbfbfb;
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: #8f8f8f;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
